<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="ChromeBrowser" value="Chrome"/>
		<add key ="EdgeBrowser" value="Edge"/>
		<add key="FirefoxBrowser" value="Firefox"/>
		<add key ="UserEmail" value="miguel@mail.com"/>
		<add key ="Password" value="123456"/>
	</appSettings>
</configuration>